.Note {
    position: relative;
    z-index: 5;
    width: 500px;
    height: 20px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
}